<% if (category || index && site.categories.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title categories"><%= __('categories') %></h3>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
