<% if (is_home() && site.posts.length){%>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('hot_comment_posts') %></h3>
    <div class="widget">
         <%- partial('partials/hot-comment-posts') %>
    </div>
  </div>
<% } %>
