<!--微信公众号二维码-->
<% if (index && theme.wechat_url){ %>
  <div class="widget-wrap">
    <h3 class="follow-title "><%= __('wechat') %></h3>
    <div class="widget wechat-widget">
        <img src="<%=theme.wechat_url%>" alt="扫码关注">
    </div>
  </div>
<% } %>
