<% if (post.comments ){ %>
  <div class="comments" id="comments">
    <% if  (theme.duoshuo_shortname){ %>
      <div class="ds-thread" data-thread-key="<%= page.path %>"
           data-title="<%= page.title %>" data-url="<%= page.permalink %>">
      </div>
      <% } %>
     <% if  (theme.disqus_shortname){ %>
    <section id="comments">
      <div id="disqus_thread">
        <noscript>
          Please enable JavaScript to view the
          <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
      </div>
      </section>
      <% } %>
       <% if  (theme.gentie_productKey){ %>
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <% } %>
       <% if  (theme.changyan_appid && theme.changyan_appkey){ %>
            <div id="SOHUCS" sid="<%= page.path %>"> </div>
    <% } %>
  </div>
 <% } %>