#footer
  background: color-footer-background
  padding: 10px 0
  margin-bottom:15px
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-left
  float: left;
  line-height: line-height
  font-size: 0.85em
#footer-right
  float: right;
  font-size: 0.85em