/**
* back to top 
*/
.back-to-top-btn
    position:fixed
    display: none
    right:30px
    bottom: 100px
    z-index:200px
    cursor: pointer
    &:hover{
        border: 0.5px dashed color-grey5
    }
    @media mq-mobile
        width: auto
        height: 60px
        &:hover{
            border: none
        }