#random_posts{
    margin-top:2em;
    ul{
        margin-left:1.5em;
    }
    font-family: Georgia, serif;
    p, li {
        line-height: 170%;
        list-style-type:square;
    }
    h2{
        font-size: 1.58em;
        line-height: 1.35em;
        @media mq-mobile{
            font-size: 1.2em;
        }
    }
    h1, h2, h3 {
        margin: 0.4em 0 0.2em 0;
        padding: 0 0 0.2em 0;
        color: #000000;
        font-weight: 500;
        letter-spacing: -0.03em;
        border-bottom: 1px solid #d3d3d3;
    }
    li div.post-excerpt {
        margin-left: 1em;
        padding-left: 0.4em;
        border-left: 0.4em solid gray;
          h1, h2,h3{
            border-bottom:none;
        }
    }
}